<mat-card fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">

    <mat-form-field fxFlex appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput type="text" [(ngModel)]="object.description">
    </mat-form-field>
  </div>

  <mat-card-actions fxFlex fxLayoutAlign="end end">
    <button mat-button color="warn" [routerLink]="['/means_payment']"> Cancelar</button>
    <button mat-button (click)="save()">Salvar</button>
  </mat-card-actions>
</mat-card>
